
nav {
    padding: 20px;
    font-family: $font-5;
    background: $color-1;
    display: flex;
    gap: 30px;

    span {
        font-size: 40px;
        font-family: $font-1;
        color: $color-3;
        width: 100px;
        margin: -10px 10px;
    }

    ul {
        min-width: 200px;
        max-width: 500px;
        width: auto;
        gap: 10px;
        display: flex;
        justify-content: space-around;

        a {
            padding: 5px;
            letter-spacing: 1px;
            color: $white;
            text-align: center;
            text-decoration: none;
            width: 80px;
            border-radius: 50px;
            transition: 0.3s ease-in;

            &:hover {
                color: $color-2;
         
            }
        }

        a.nav-active {
            color: $white;
            background: $color-3;

            &:hover {
                color: $color-2;
            }
        }
    }
}