$home_img: url('../../assets/akhil-ramesh.jpg');
  

  .home {
    display: grid;
    grid-template-columns: 55% 45%;
    padding-left: 25px;
    height: 1200px;
    min-width: 500px;
    max-width: 1600px;
    margin: 0 auto;
    width: auto;
    position: relative;

    .title {
        display: block;
        width: 70%;
        margin: 0 auto;
        font-family: $font-1;
        text-align: center;
        top: 77%;
        transform: translateY(-50%);
        position: relative;

        h2 {
        
            font-size: 80px;
            letter-spacing: 10px;
        }

        h3 {
            line-height: 15px;
            font-size: 40px;
            letter-spacing: 10px;
        }

        h1 {
            background-image: $home_img;
            background-size: cover;
            color: transparent;
            font-size: 150px;
            line-height: 115px;
            letter-spacing: 5px;
            -webkit-background-clip: text;

            
        }
    }

    .left {
        top: 65%;
        position: relative;
        transform: translateY(-50%);

        .plant {
            position: absolute;
            display: block;
            width: 350px;
            margin: 20px 100px;
        }

        .shape {
            margin: 83px -2px;
            width: 475px;
        }
    }

} 