  .plantList {

        .radioDisplay {
            background: $color-1;
            margin: 20px auto 10px;
            width: 66vw;
            height: 40px;
            align-items: center;
            gap: 15px;
            display: flex;
            justify-content: center;
            color: $white;
            font-family: $font-5;
            border-radius: 15px;

            li {
                cursor: pointer;
                border-radius: 30px;
                min-width: 8vw;
                text-align: center;
                box-shadow: inset 0px 0px 12px 6px #80a19461;
                padding: 7px 10px;
                transition: 0.3s ease-in;
                
                input {
                    display: none;
                }
                
                &:checked + label {
                    color: $color-2;
                    transition: all 0.4s ease-in-out;
                }

                label {
                    cursor: pointer;
                    
                }

                &:hover {
                    box-shadow: inset 0px 0px 12px 6px #80a194a9, 7px 6px 6px 0px #021e1357;
                }
            }

            .radioChecked {
                box-shadow: inset 0px 0px 20px 6px #80a194a9, 7px 6px 6px 0px #021e1357;
            }
        }
        
        .plantsContent {
            // padding: 8px 0;
            // background: $color-1;
            // width: 66vw;
            // margin: 0 auto;
            // min-height: 520px;
            // max-height: 845px;
            // height: auto;
           
       
        
            .plants {
                display: grid;
                grid-template-columns: 32.5% 32.5% 32.5%;
                width: 66vw;
                margin: 0 auto;
                padding: 10px;
                gap: 10px;
                overflow-y: scroll;
                background: radial-gradient(#102427, $color-1);
                border-radius: 15px;
                 
                &::-webkit-scrollbar {
                    display: none;
                }

                .plant {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 33vw;
                    gap: 20px;
                    padding: 20px;
                    align-items: center;
                    border-radius: 15px;
                    border-right: 1px solid #ffffffc2;
                    border-bottom: 1px solid #ffffff8a;
                    border-left: 1px solid #152a2dbd;
                    border-top: 1px solid #152a2da6;
                    box-shadow: inset 9px 4px 72px 24px #80a19461, 7px 6px 6px 0px #021e1357;

                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        
                        h3 {
                            font-family: $font-6;
                            color: $color-3;
                        }
                        
                        h4 {
                            font-family: $font-5;
                            font-style: italic;
                            font-weight: 400;
                            color: $white;
                        }
                        
                        h5 {
                            font-family: $font-3;
                            color: $color-3;
                            
                            span {
                                font-weight: 400;
                            }
                        }
                    }

                        img {
                        margin: auto;
                        height: 15vw;
                        display: block;
                    

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .infos {
                        grid-area: 4;
                        color: $color-3;
                        cursor: pointer;
                        font-size: 1.5rem;
                        transition: 0.2s;
    
                        &:hover {
                            transform: scale(1.1);
                        }
                        }
        
                }

                
                   
         }
     }
}

@media screen and (max-width: 800px) {
    .plantList {

        .radioDisplay {
            width: 80vw;
        }

        .plantsContent {

            .plants {
                width: 80vw;
                grid-template-columns: 48.5% 48.5%;

                .plant {
                    height: 45vw;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .plantList {

        .radioDisplay {
            display: none;
        }

        .plantsContent {

            .plants {
                display: flex;
                flex-direction: column;
            
                .plant {
                    height: 100vw;

                    img {
                        height: 40vw;
                    }
                }
            }
        }
    }
}